* {
    font-family: 'Poppins', sans-serif;
}

/* .logo1 {
    height: 150px;
    width: 180px;
} */

.banner {
    background-image: url(/images/ban5.avif);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
}

.social-icon {
    padding-bottom: 10px;
    font-size: 2.5rem;
}

.social-icon-2 {
    padding: 20px 0;
    padding-top: 20px;
    font-size: 2.5rem;
}


.smt {
    padding-bottom: 20px
}

.click {
    text-decoration: none;
}
